:root{
    --black: #012d30;
    --dark-green: #2c4a3e;
    --green: #8e9861;
    --yellow: #e7d9aa;
    --orange: #bf6c5a;
  }

html, body{
    height: 100%;
    width: 100%;
    margin: 0; 
}


.title{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% auto 1%;
  width: 40%; 
  padding: 1% 0%;  
  font-size: large;
  font-weight: bold;
  border-radius: 10px;
  color: var(--yellow);
  background-color: var(--orange);;
}

.info-card{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0% auto 10%;
  width: 100%;
}

form{
  width: 50%;
  padding: 1% 0%;
  padding-left: 4%;
  border-radius: 15px;
  background-color: var(--green);
}

.name-cell,
.description-cell,
.price-cell,
.city-cell,
.user-id-cell,
.button-cell{
  margin: 3% 0%;
}

.button-cell{
  text-align: right;
  padding-right: 14.5%;
}

.name-cell > label,
.description-cell > label,
.price-cell > label,
.city-cell > label,
.user-id-cell > label{
  display: inline-block;
  width: 20%;
  color: var(--black);
  font-weight: bold;
}

.name-cell > input,
.description-cell > textarea,
.price-cell > input,
.city-cell > input,
.user-id-cell > input{ 
  display: inline-block;
  width: 60%;
  background-color: var(--yellow);
  padding: 2%;
  border-radius: 10px;
  color: var(--black);
}

.description-cell{
  vertical-align: top;
}

.description-cell > textarea{
  vertical-align: top;
}

.form-btn{
  display: inline-block;
  margin-top: 5%;
  padding: 2% 1%;
  height: 10%;
  width: 37.5%;
  border-radius: 10px;
  font-weight: bold;
  background-color: var(--orange);;
  color:var(--yellow);
}

.cancel-btn{
  display: inline-block;
  margin-top: 5%;
  padding: 2% 1%;
  height: 10%;
  width: 37.5%;
  border-radius: 10px;
  font-weight: bold;
  background-color: var(--orange);
  color: var(--yellow);
}